<main id="camisetas">
    <h1 class="m-4 text-center bold fs-1 fw-bold">Camisetas</h1>
    <div class="row row-cols-1 row-cols-md-5 g-4 m-5">
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card carta-camiseta" style="width: 18rem;">
                <img src="/images/camiseta.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-white">Card title</h5>
                    <p class="card-text text-white">Some quick example text to build on the card title and make up the
                        bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</main>