<main id="contacto">
    <div class="container-fluid row">
        <div class="col texto-contacto">
            <h2>Contactanos</h2>
            <p class="mt-5">Para cualquier consulta podes enviarnos un mensaje y en brevedad estaremos en contacto. Para
                enterarte de novedades envianos tu email para poder tenerte al tanto de nuevos productos.</p>
            <p>También nos pueden seguir en nuestras redes sociales para estar actualizados.</p>
        </div>
        <div class="col formulario-contacto">
            <h2 class="mb-5">Completar el formulario</h2>
            <form action="/contacto" method="post">
                <div class="row mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control w-75" id="nombre" name="nombre">
                </div>
                <div class="row mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control w-75" id="apellido" name="apellido">
                </div>
                <div class="row mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control w-75" id="email" name="email">
                </div>
                <div class="row mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control w-75"  id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            <p>{{message}}</p>
        </div>
    </div>
</main>