<main id="inicio">
    <div class="container-fluid">
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-2">
                <h1>Camisetas de fútbol</h1>
                <p>Tenemos todas las camisetas de la primera division del fútbol argentino.</p>
            </div>
        </div>
    </div>
    <div class="div-carousel">
        <div id="carouselExampleControls" class="carousel slide carousel-inicio container" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/camiseta-de-river.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/camiseta-de-boca.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/camiseta-de-san-lorenzo.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/images/camiseta-de-racing.webp" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid guia-inicio row">
        <div class="col texto-inicio">
            <h2 class="mb-5 fs-1">Encontra la camiseta de tu club</h2>
            <p class="mb-5 fs-5">Visita nuestra tienda para encontrar la camiseta del club que sos hincha, también podes
                buscar en la sección de pantalones para armar tu conjunto.
                También podes contactarnos para recibir cualquier información y no te olvides de seguirnos en nuestras
                redes.
            </p>
        </div>
        <div class="col botones-deinicio">
            <a href="/camisetas.hbs"><button>Ver camisetas</button></a>
            <a href="/pantalones.hbs"><button>Ver pantalones</button></a>
            <a href="/contacto.hbs"><button>Contactanos</button></a>
        </div>
    </div>

</main>